<nav class="navbar">

  <div class="logo">
    Student Course Portal
  </div>

  <div class="nav-links">

    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      Home
    </a>
    <a routerLink="/reactive-enroll" routerLinkActive="active">
      Reactive Enroll
    </a>

    <a routerLink="/courses" routerLinkActive="active">
      Courses
    </a>

    <a routerLink="/profile" routerLinkActive="active">
      Profile
    </a>

    <a routerLink="/enroll" routerLinkActive="active">
      Enroll
    </a>

  </div>

</nav>
