.card{

  padding:20px;

  border-radius:10px;

  margin:20px;

  box-shadow:0 0 10px lightgray;

  transition:.3s;

}

.card--enrolled{

  background:#ecfff1;

}

.card--full{

  font-weight:bold;

}

.expanded{

  transform:scale(1.02);

}

.passed{

  color:green;

  font-weight:bold;

}

.failed{

  color:red;

  font-weight:bold;

}

.pending{

  color:gray;

  font-weight:bold;

}

button{

  margin-top:10px;

}
